html, body {
	margin: 0;
	height: 100%;
}

.info {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: green;
	padding: 10px;
	margin: 10px;
}

.info:empty {
	display: none;
}

#close {
	float: right;
	cursor: pointer;
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.label {
	order: 0;
	align-self: flex-start;
	margin: 5px;
	font-size: smaller;
	cursor: pointer;
}

.input {
	order: 1;
	width: 100%;
	margin: 5px;
}

.submit {
	order: 2;
	margin: 5px;
}